@{
    ViewData["Title"] = "Hotellsystem";
}

<h1>Hotell System</h1>

<div id="SmartHut"></div>

<input id="JWTToken" type="hidden" value="@ViewData["JWTToken"]" />
<input id="User" type="hidden" value="@ViewData["Email"]" />

<div id="data">@User.Identity.Name</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/CreateConnection.js"></script>
