@{ ViewData["Title"] = "Hotellsystem"; }

<div id="SmartHut"></div>

<input id="JWTToken" type="hidden" value="@ViewData["JWTToken"]" />
<input id="User" type="hidden" value="@ViewData["Email"]" />

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/HotelSystem.js"></script>