@{ ViewData["Title"] = "Startsida"; }

<h1 class="text-primary">Välkommen till The Mercer</h1>
<br />

<div class="row" style="margin-top:20px;">
    <div class="col">
        
        <p>
            Hotellet välkomnar dig till verktyget för hotellets personal för att kontrollera statusen för våra hotellsensorer.
            För att kunna använda vårt system är det nödvändigt att ha ett Microsoft-konto auktoriserat till hotellet. Om du inte har ett,
            kontakta med hotellets IT-avdelning.
        </p>

        <p>
            För att börja använda det här verktyget loggar du först in med "Logga in" -knappen i det övre högra hörnet.
            När du väl är inloggad kan du komma åt hotellsystemet där du kan se alla hotellets rum med olika sensorer,
            deras värden och en knapp för att återställa ett larm om det behövs.
        </p>

    </div>
</div>
